<%# <%= turbo_frame_tag "#{@contract.id}_new_tax_regime" do%> 


<div class="container rounded-4 border border-5  bg-light">
  <%= simple_form_for [@contract, @tax_regime]  do |f|%>
    <h5 class="d-flex m-auto blue">
      <%= f.input :isfee, 
              as: :select, 
              collection: [['FEE',true],['TAX',false]], 
              include_blank: false, 
              label: false,
              input_html: { autofocus: true ,class:"form1"}
      %>
    </h5>

    <div class="d-flex align-items-center container p-3  ">
      <%= f.input :name , input_html: { autofocus: true ,class:"form1"} , label: false, placeholder: "Name"%>
      <%= f.input :percentage, input_html: { autofocus: true ,class:"form1"}, label: false, placeholder: "Description" %>
      <span class="btn1 p-0"><%= f.button :submit %></span>
    </div>
  <% end %>

  <div class="container text-left">
    <span class= "blue">FEE increases Budget price - </span>
    <span class= "blue">TAX only increases invoice price </span>
  </div>
</div>
