<%= simple_form_for [service,variable], html: { data: { controller: "reset-form", action: "turbo:submit-end->reset-form#resetForm" } } do |f| %>
<div class="d-none ">
  <%= f.input :operator %>
  <%= f.input :role %>
</div>
  <%= f.input :name, label: false, input_html: {placeholder: "Variable name" ,class:"m-2 text-success bg-dark border border-dark p-2 rounded "} %>
  <%= f.input :value, label: false, input_html: {placeholder: "default value",class:"m-2 text-success bg-dark border border-dark p-2 rounded"} %>
  <span class= "text-secondary bg-dark m-2 p-2"><%= f.input :fixed %></span>
  <%= button_tag :submit, class: "--no-border bg-dark" do  %>
      <div class="ingredient-card">
        <div class="ingredient-value border-light m-3 ">
          ADD
        </div>
      </div>
  <% end %>
<% end %>