
<%= link_to sanitize("&larr; Contracs"), contracts_path, class:"white" %>
<% if @service.is_root? == false  %> 
  <%= link_to sanitize("&larr; Back"), service_path( @service.parent) , class:"white"%>
<% end %>
<%= link_to sanitize("Copy Service from ..."), copy_service_path, class:"btn1" %>
<%= link_to "New service",service_new_child_service_path(@service),class: "btn1" %>


<main class="container white">

  <div class="header">
    <%= @service.contract.name + "/"%>
    <% if @service.ancestors.map(&:name) != [] %> 
      <%  @service.ancestors.map(&:name).each do |s|%>
       <%= s + "/" %>
      <% end %>
    <% end %>
    <span class="red"><%= @service.name%> <%= link_to sanitize("Formula"), new_service_formula_path(@service), class:"btn1" %>
 </span>
  </div>
  
</main>



<!--   MENU    -->

      <div class="white">
        <% @services.each do |service| %>
            <li><%= link_to service.name, service_path(service), class:"white " %></li>
            <%= render 'sub_menu_services', services: service.descendants.arrange %>
        <% end %>
      </div>
