
<%= link_to sanitize("&larr; Contracts"), contracts_path, class:"btn btn-secondary" %>
<% if @service.is_root? == false  %> 
  <%= link_to sanitize("&larr; Back"), service_path( @service.parent) , class:"btn btn-secondary"%>
<% else %>
  <%= link_to sanitize("&larr; Back"), contract_path( @service.contract) , class:"btn btn-secondary"%>
<% end %>
<%= link_to sanitize("Copy Service from ..."), service_copy_service_path(@service), class:"btn btn-outline-warning" %>
<%= link_to "New service",service_new_child_service_path(@service),class: "btn btn-outline-primary" %>


<main class="container white">

    <!--   PATH    -->

                              <span class="d-flex justify-content-start align-items-center m-3 bg-dark text-light p-2 rounded-pill">
                                <%= link_to @service.contract.name.upcase , contract_path(@service.contract) %>
                                 &nbsp<%=  "/" %>&nbsp
                                <% if @service.ancestors.map(&:name) != [] %> 
                                  <%  @service.ancestors.each do |s|%>
                                    <%= link_to s.name.upcase, service_path(s) %>
                                    &nbsp<%=  "/" %>&nbsp
                                  <% end %>
                                <span class="text-danger"> &nbsp;<%=@service.name.upcase %></span>
                                <%= link_to "✏️",edit_service_path(@service),class: "m-2" %>
                                <% else %>
                              <%= @service.name.upcase %> 
                              <%= link_to "✏️",edit_service_path(@service),class: "m-2" %>
                                <% end %>
                              </span>

    <!--   SERVICE FAMILY    -->

    <table class="table table-hover <%='d-none' if @service.has_children? == false %>">

      
      <thead>
        <tr class="flex justify-content-evenly text-center">
          <th class="text-start" scope="col">Service</th>
          <% @service.contract.tax_regimes.where(isfee:true).each do |tax| %>
            <th scope="col"> <%= tax.name.upcase %> </th>
          <% end %>
          <th class="" scope="col">BUDGET PRICE</th>
          <% @service.contract.tax_regimes.where(isfee:false).each do |tax| %>
            <th class=""  scope="col"> <%= tax.name.upcase %> </th>
          <% end %>
          <th class="text_center" scope="col">INVOICE PRICE</th>
        </tr>
      </thead>


      <tbody>
        <% @services.each do |service| %>
          <tr class="text-center">
                 <td class="text-start" ><%= link_to service.name, service_path(service), class:"white " %> </td>
            <%# FEES %>
                  <% service.contract.tax_regimes.where(isfee:true).each do |tax| %>
                    <td><%= render "tax_service", service:service, tax:tax  %></td>
                  <% end %>
            <%# BUDGET PRICE %>
                  <td class="text-center"><%= service.calculate %></td>
            <%# TAXES %>
                  <% @service.contract.tax_regimes.where(isfee:false).each do |tax| %>
                    <td><%= render "tax_service", service:service, tax:tax  %></td>
                  <% end %>
            <%# INVOICE PRICE   %>
                  <td><%= service.calculate * ( 1 + service.tax_regimes.where(isfee:false).sum(&:percentage)*0.01).round(4) %><td>
          </tr>
        <% end %>
      </tbody>

    </table>
<!--
                              <div class="ingredient-card">
                                    <ul class="white">
                                      <% @services.each do |service| %>
                                          <li class= "d-flex"><%= link_to service.name, service_path(service), class:"white " %>
                                              <span><%= service.calculate %></span>
                                          </li>
                                          <%= render 'sub_menu_services', services: service.descendants.arrange %>
                                      <% end %>
                                    </ul>
                              </div>
      
  -->
    <div class="container rounded-4 border border-5e border-dark <%='d-none' if @service.has_children?%>">

      <!--   FORMULA = VARIABLE LIST    -->

                                <h2 class = "calculator_card"></h2>

                                <%= turbo_frame_tag "variable_list" do %>
                                  <% if  @service.variables.empty? %>
                                    <h4>NO FORMULA</h4>
                                  <% else %>
                                    <%= render "variables/variable_list", service: @service , class:"calculator-card p-3"%>
                                  <% end %>
                                <% end %>

        <!--   FORMULA ELEMENTS   -->
                                <div class="d-flex ">

                                  <%# <h2>ADD OPERATOR</h2> %>
                                  <div class="operateur-add me-5 p-2">
                                    <%= render 'buttons/operators' %>
                                  </div>

                                  <%# <h2>ADD VARIABLE</h2> %>
                                  <div class="value-add p-2">
                                    <div class="d-flex ">
                                      <%= render 'buttons/add_value', service: @service,
                                      variable: Variable.new( operator:false ,fixed: false,role: "value") %>
                                    </div>
                                  </div>

                                    <%# RESULT %>
                                  <div class="ingredient-card">
                                    <div class=" btn btn-primary p-0 border border-5 border-dark">
                                      <%= render 'services/resultat', service: @service%> 
                                    </div>
                                  </div>



                                </div>

    </div>


            <%# DESCRIPTION %>
            <div class="d-flex justify-content-center m-2 text-dark">
              <% if @service.description != nil %>
                <%= @service.description %>
              <% end %>
            </div>

</main>




