<%= turbo_frame_tag invoice do %>
            <div class="container m-auto bg-secondary text-secondary  border border-light " >
                <% if invoice.purchase_order == @purchase_order %> 
                <div class = " d-flex text-light align-items-center p-1 ">
                   <span class="span100"> <%= link_to invoice.name.upcase, invoice_path(invoice), data: { turbo: false }, class:" text-light "  %></span>
                   <span class="span250"> <%= invoice.description %></span>
                   <span class="span100"> <%= invoice.budget_price %></span>
                   <span class="span100"> <%= invoice.invoice_price %></span>
                   <span class="span150"><%= invoice.good_receipt  %></span>
                   <span class="span150"><%= invoice.payment_date %></span>
                   <span class="span150"><%= button_to "REMOVE",unlink_invoice_path(invoice,  purchase_order_id: @purchase_order.id),method: :post, data: { turbo_method: :post }, class: " btn btn-sm btn-light rounded-5 border border-dark "  %></span>
                   <span class="span50"><%= button_to "✏️",edit_gr_invoice_path(invoice, purchase_order: @purchase_order), class: "btn white m-auto  " %></span>
                </div>
               <% else %>
                <div class = " d-flex text-dark align-items-center p-1">
                   <span class="span100"> <%= link_to invoice.name.upcase, invoice_path(invoice), data: { turbo: false }  %></span>
                   <span class="span250"> <%= invoice.description %></span>
                   <span class="span100"> <%= invoice.budget_price %></span>
                   <span class="span100"> <%= invoice.invoice_price %></span>
                   <span class="span150"> <%= invoice.good_receipt  %></span>
                   <span class="span150"><%= invoice.payment_date  %></span>
                   <span class="span150"><%= button_to "APPROVE",goodreceipt_invoice_path(invoice, @purchase_order),class: " btn btn-sm btn-success  border rounded-5 " if invoice.purchase_order == nil %></span>
                   <span class="span50"><%= button_to "✏️",edit_gr_invoice_path(invoice), class: "btn  m-auto  " %></span>
                </div>
               <% end %>
            </div>
<% end %>
