<style> body { background-color: #5c0707; } </style>



<div class=" d-flex align-items-center blue p-3 ">
  <span class="m-auto white fs-2 ">PO
    <%= link_to "✚",new_purchase_order_path,class: "btn1 border border-2  border-dark rounded-circle" %> 
    <%= link_to excel_po_path(format: :xlsx), class:"btn" do%>
        <%= image_tag 'excel.jpeg', width: 30, height: 30 %>
    <% end %>
  </span>
</div>



    <%# <%= link_to excel_po_path(format: :xlsx) do  %>
      <%# <div class="btn1"><%= sanitize("▷Excel") %> </div> 
    <%# <% end %> 

  </span>
</div>
<div class=" d-flex justify-content-center align-items-center p-3 ">
  <table class="table table-bordered table-hover border border-3 border-light">
    <tbody>
      <% if @purchase_orders != nil %>
    <%= render @purchase_orders %>
      <% else %>
        NO PO HAVE BEEN CREATED YET 
      <% end %>
    </tbody>
  </table>
</div>