 


<div class=" blue p-3 ">
  <%= link_to sanitize("&larr; Back to POs"), purchase_orders_path, class:"btn1" %>
</div>

<div class ="container border border-3 p-3 m-auto ">
  <h2 class = "d-flex justify-content-center blue " >PO <%= @purchase_order.name %> </h2>
  <h6 class = "d-flex justify-content-center blue " ><%= @purchase_order.description %> </h6>
  <h3 class = "d-flex justify-content-center green" >
    <%= render 'po_budgeted', purchase_order: @purchase_order %>
  </h3>
</div>

<div class ="container m-3">

  <div class="row">

    <%# PO SERVICES LIST %>
    <div class =  "col-4 text-start p-auto"> 
      <h6 class= "text-light rounded text-center border bg-success"> SERVICES APPROVED </h6>
      <%= render 'po_services_list', services: @services %>
    </div>

    <div class =  "col text-start p-auto border"> 
    </div>

    <%# PO INVOICE LIST %>
    <div class =  "col-3 text-start p-auto"> 
      <h6 class= "text-light rounded text-center border bg-success"> INVOICES APPROVED </h6>
      <%= render 'po_invoices_list', invoices: @invoices %>
    </div>

    <%# INVOICES NOT APPROVED %>
    <div class =  "col-3 text-start  p-auto">
      <h6 class= "text-light rounded text-center bg-danger border"> INVOICES TO BE APPROVED  </h6>
      <%= render 'not_approved_invoices_list'%>
    </div>

  </div>

</div>
