<style> body { background-color:rgb(216, 176, 83); } </style>


  <div class=" blue p-3 ">
    <%= link_to sanitize("&larr; Back to POs"), purchase_orders_path, class:"btn1" %>
  </div>

<div class ="container p-3 m-auto ">

<%# PO DETAILS %>
    <h2 class = "d-flex justify-content-center white " >PO <%= @purchase_order.name %> </h2>
    <% if @purchase_order.contract %>
      <h6 class = "d-flex justify-content-center gray " ><%= @purchase_order.contract.name %> </h6>
    <% else %>
      <h6 class = "d-flex justify-content-center gray " >No contract linked to this PO </h6>
    <% end %>
    <h6 class = "d-flex justify-content-center white " ><%= @purchase_order.description %> </h6>
    <h4 class = "d-flex justify-content-center " >
        <span class="p-2 text-secondary">  </span> 
        <% if @purchase_order.budget != nil %>
          <span class="p-2 text-secondary"> <%= number_with_delimiter(@purchase_order.budget, delimiter:' ') %> </span> 
          <span class="p-2 text-secondary"> - </span> 
          <span class="p-2 text-warning "><%= render 'po_budgeted', purchase_order: @purchase_order %></span>
          <span class="p-2 text-secondary"> = </span> 
          <span class="p-2 text-secondary "><%= render 'remaining_budget', purchase_order: @purchase_order %></span>
        <% end %>
    </h4>






  <div class = "d-flex justify-content-between" >
<%# BUDGET %>
  <h6 class = "d-flex justify-content-center blue " >
    <div class="  bg-dark border border-3 m-3 p-3 rounded-5 position-relative">  

      <% if @contract != nil && @contract.services != [] %>
        <h6 class= "white text-center m-3">
          <div class= "container d-flex  justify-content-center">
            <span class="d-flex align-items-center text-center text-success me-3 h3">BUDGET</span>
            <span class="p-2 text-success h3 "> <%= number_with_delimiter(@po_lines.sum(&:value), delimiter:' ') %> € </span>
          </div>
        </h6>

<%# LIST BUDGET LINES %>
          <%= turbo_frame_tag PoLine.new %>

          <%= turbo_frame_tag "po_budget_lines" do %>
            <% if @po_lines %>
              <%= render 'po_budget_lines', po_lines: @po_lines %>
            <% else %> 
              <div class = "row">
                No budget lines
              </div>
            <% end %>
          <% end %>

          <span class="badge rounded-pill bg-dark p-2 position-absolute top-0 end-0">
            <%= link_to "✚", new_purchase_order_po_line_path(@purchase_order),
                  data: { turbo_frame: dom_id(PoLine.new) },
                  class: "text-light text-decoration-none p-2" %>
          </span>

        <% else %>
         'No contract associated to this PO
        <% end %>
                
    </div>
  </h6>
          
<%# SPEND %>
  <h6 class = "d-flex justify-content-center blue " >
    <div class=" bg-dark border border-3 m-3 p-3 rounded-5">   
        <h6 class= "white text-center m-3">
          <div class= "container d-flex m-auto justify-content-center m-3">
            <h5 class="d-flex align-items-center text-center text-warning me-3">SPEND</h5>
            <%  if @services!= [] %>
              <span class="p-2 text-warning col-6"><%= render 'po_budgeted_twin', purchase_order: @purchase_order %></span>
            <% end %>
          </div>
        </h6>
      <%= render 'po_services_list', services: @services %>
    </div>
  </h6>

<%# PO INVOICE LIST %>
            <h6 class= "d-flex justify-content-center">
              <div class =  " bg-dark border border-3 m-3 p-3 rounded-5 "> 
                <div class="m-2">
                    <h6 class= " m-3 green text-center">
                      <div class= "container d-flex m-auto justify-content-center m-3">
                        <h5 class="d-flex align-items-center text-center white me-3">INVOICES</h5>
                        <% if @po_invoiced != 0 %> 
                          <span class="p-2 white col-6 "><%= render 'po_invoiced', purchase_order: @purchase_order %></span>
                        <% end %>
                      </div>
                    </h6>
                  <%= render 'po_invoices_list', invoices: @invoices %>
                </div>/
              </div>
            <h6>


<%# INVOICES NOT APPROVED %>

  <div class ="d-flex justify-content-center">
      <div class =  " container  p-2">
        <h4 class= "text-light m-3 text-center "> GR  </h4>
        <span class="test-end"><%= render 'not_approved_invoices_list'%></span>
      </div>
  </div>



</div>


<div class = " d-flex justify-content-between align-items-center " >

<%# LIST PAYMENTS %>
    <div class = " justify-content-center blue w-50 " >
      <div class=" bg-dark border border-3 m-3 p-3 rounded-5 position-relative">  

          <div class= "d-flex justify-content-center white text-center m-3">
            <div class= " d-flex text-secondary justify-content-center align-items-center h4">
              <div class= "container d-flex  justify-content-center">
                <span class="p-2 bleu "  >PAYMENT SCHEDULE</span>
                <span class="p-2 bleu"> <%= number_with_delimiter(@purchase_order.payments.sum(&:value), delimiter:' ') if @purchase_order.payments != []%> €</span>
              </div>           
            </div>
          </div>

          <span class="  badge rounded-pill p-2 bg-dark position-absolute top-0 end-0">
            <%= link_to "✚", new_purchase_order_payment_path(@purchase_order),
                  data: { turbo_frame: dom_id(Payment.new) },
                  class: "text-light text-decoration-none p-2" %>
          </span>

        <%= turbo_frame_tag Payment.new %>

        <% if @purchase_order.payments != [] %>

          <%= turbo_frame_tag 'payments' do %>
            <% if @purchase_order.payments != [] %>
              <%= render @purchase_order.payments.order(date: "asc"), payments: @payments %>
            <% else %> 
              <div class = "row">
                No scheduled payment yet
              </div>
            <% end %>
          <% end %>


        <% else %>
          <span class= "text-secondary text-center">No planned Payment associated to this PO</span>
        <% end %>
                  
      </div>
    </div>

<%# CHART\ %>

  <% monthly_values = @purchase_order.payments.group_by_month(:date).sum(:value) %>
  <% accumulated_data = {} %>
  <% running_total = 0 %>
  <% monthly_values.sort.each do |month, value| %>
    <% running_total += value %>
    <% accumulated_data[month] = running_total %>
  <% end %>

  <div class= "d-flex border border-3 rounded-5 bg-dark w-50 p-3" >
        <%= column_chart accumulated_data, dataset: { borderWidth: 3 }, legend: false, width: "600px", height: "400px", colors: ["#b8d5ee"], prefix: "€", thousands: "," , discrete: true, library: { scales: { xAxes: [display: false], yAxes: [display: false]}} %>
  </div>
 




</div>
</div>
  



