<style> body { background-color:grey } </style>


  <div class=" blue p-3 ">
    <%= link_to sanitize("&larr; Back to POs"), purchase_orders_path, class:"btn1" %>
  </div>


<%# PO DETAILS %>
<div class ="container p-3 m-auto "  data-controller="toggle-budget" >

  <div class = " container w-50 d-flex flex-column  bg-secondary justify-content-center p-3 border border-3 position-relative " >
      <span class = "p-2 d-flex justify-content-center text-light h1  " >PO <%= @purchase_order.name %> </span>
      <%# <div class = "p-2 d-flex justify-content-center white h4 text-primary " ><%= @purchase_order.description  </div> %>
      <span class="badge btn btn-outline-light rounded position-absolute top-0 start-0 m-2 " data-action="click->toggle-budget#toggle">BUDGET</span>
      <% if @purchase_order.contract %>
        <div class = "d-flex justify-content-center  h6 text-primary "><%= @purchase_order.contract.name %></div>
        <div class = "d-flex justify-content-center  h6 text-light "><%= @purchase_order.contract.supplier.name if @purchase_order.contract.supplier.present? %></div>
      <% else %>
        <h6 class = "d-flex justify-content-center gray " > No contract linked to this PO </h6>
      <% end %>
                                                  
      <h4 class = "d-flex justify-content-center " >
          <span class="p-2 text-secondary">  </span> 
          <% if @purchase_order.budget != nil %>
            <span class="p-2 text-success"> <%= number_with_delimiter(@purchase_order.budget, delimiter:' ') %> </span> 
            <span class="p-2 text-light"> - </span> 
            <span class="p-2 text-warning "><%= render 'po_budgeted', purchase_order: @purchase_order %></span>
            <span class="p-2 text-light"> = </span> 
            <span class="p-2 text-primary "><%= render 'remaining_budget', purchase_order: @purchase_order %></span>
          <% end %>
      </h4>
  </div>







<div class = "d-flex justify-content-center" data-controller="toggle-family" >
<%# BUDGET %>
    <div class="bg-dark border border-3 m-3 p-3 rounded-5 position-relative " data-toggle-budget-target="budget"  >  

      <% if @contract != nil && @contract.services != [] %>
        <h6 class= "white text-center m-3 ">
          <div class= "container d-flex  justify-content-center">
            <span class="badge btn btn-outline-light rounded position-absolute top-0 start-0 m-2 " data-action="click->toggle-family#toggle">SPEND</span>
            <span class="d-flex align-items-center text-center text-success me-3 h3">BUDGET</span>
            <span class="p-2 text-success h3 "> <%= number_with_delimiter(@po_lines.sum(&:value), delimiter:' ') %> € </span>
          </div>
        </h6>

<%# LIST BUDGET LINES %>
          <%= turbo_frame_tag PoLine.new %>

          <%= turbo_frame_tag "po_budget_lines" do %>
            <% if @po_lines %>
              <%= render 'po_budget_lines', po_lines: @po_lines %>
            <% else %> 
              <div class = "row">
                No budget lines
              </div>
            <% end %>
          <% end %>

          <span class="badge rounded-pill bg-dark p-2 position-absolute top-0 end-0">
            <%= link_to "✚", new_purchase_order_po_line_path(@purchase_order),
                  data: { turbo_frame: dom_id(PoLine.new) },
                  class: "text-light text-decoration-none p-2" %>
          </span>

      <% else %>
        'No contract associated to this PO
      <% end %>
                
    </div>
  
          
<%# SPEND %>

  <div class = "d-flex justify-content-center blue " data-toggle-family-target="family" >
    <div class=" bg-dark border border-3 m-3 p-3 rounded-5">   
        <h6 class= "white text-center m-3">
          <div class= "container d-flex m-auto justify-content-center m-3">
            <span class="d-flex align-items-center text-center text-warning h3 me-3">SPEND</span>
            <%  if @services != [] %>
              <span class="p-2 text-warning h3"><%= render 'po_budgeted_twin', purchase_order: @purchase_order %></span>
            <% end %>
          </div>
        </h6>
      <%= render 'po_services_list', services: @services %>
    </div>
  </div>


</div>
</div>
<div class ="container p-3 m-auto ">

<%# INVOICES  %>
                                 
  <div class ="d-flex flex-column bg-dark  m-3 justify-content-center border border-light border-4 rounded-5">
    <div class="container text-light bg-dark " >
      <span class= "d-flex justify-content-center h2  p-2 ">INVOICES</span>
    </div>
    <div class="container text-secondary bg-dark " >
      <span class="span100 text-start ">INVOICE</span>
      <span class="span250 text-start ">DESCRIPTION</span>
      <span class="span100 text-start ">NET PRICE</span>
      <span class="span100 text-start ">GROSS PRICE</span>
      <span class="span150 text-start ">GOOD RECEIPT</span>
      <span class="span150 text-start">PAYMENT DATE</span>
      <span class="span150 text-start ">ACTION</span>
      <span class="span50 text-start "> -</span>
    </div>
      <%= turbo_frame_tag "invoices" do %>
        <% if @all_invoices != nil %>
          <%= render 'invoices', invoices: @all_invoices  %>
        <% else %>
          NO INVOICE FOR THIS PO YET
        <% end %>
      <% end %>
  </div>
                        
</div>

<div class = " d-flex justify-content-center align-items-center " data-controller="toggle-family" >
<%# LIST PAYMENTS %>
    <div class = " justify-content-center blue d-none " data-toggle-family-target="family" >
      <div class=" bg-dark border border-3 m-3 p-3 rounded-5 position-relative">  

          <div class= "d-flex justify-content-center white text-center m-3">
            <div class= " d-flex text-secondary justify-content-center align-items-center h4">
              <div class= " d-flex  justify-content-center">
                <span class="p-2 bleu "  >PAYMENT SCHEDULE</span>
                <span class="p-2 bleu"> <%= number_with_delimiter(@purchase_order.payments.sum(&:value), delimiter:' ') if @purchase_order.payments != []%> €</span>
              </div>           
            </div>
          </div>

          <span class="  badge rounded-pill p-2 bg-dark position-absolute top-0 end-0">
            <%= link_to "✚", new_purchase_order_payment_path(@purchase_order),
                  data: { turbo_frame: dom_id(Payment.new) },
                  class: "text-light text-decoration-none p-2" %>
          </span>

        <%= turbo_frame_tag Payment.new %>

        <% if @purchase_order.payments != [] %>

          <%= turbo_frame_tag 'payments' do %>
            <% if @purchase_order.payments != [] %>
              <%= render @purchase_order.payments.order(date: "asc"), payments: @payments %>
            <% else %> 
              <div class = "row">
                No scheduled payment yet
              </div>
            <% end %>
          <% end %>


        <% else %>
          <span class= "text-secondary text-center">No planned Payment associated to this PO</span>
        <% end %>
                  
      </div>
    </div>

<%# CHART\ %>


                            <%# <div class= "d-flex border border-3 rounded-5 bg-dark w-50 p-3" >
                              <%= column_chart @planned_data, dataset: { borderWidth: 3 }, legend: false, width: "600px", height: "400px", colors: ["#b8d5ee"], prefix: "€", thousands: "," , discrete: true, library: { scales: { xAxes: [display: false], yAxes: [display: false]}} 
                            </div> %>

                            <%# <div class="d-flex border border-3 rounded-5 bg-dark w-50 p-3">
                              <%= line_chart  @planned_data , dataset: { borderWidth: 3 }, legend: true, width: "600px", height: "400px", colors: ["#b8d5ee", "#ff0000"], prefix: "€", thousands: "," 
                            </div> %>

  <div class="d-flex border border-3 rounded-5 bg-dark w-50 p-3 position-relative m-3"    >
    <span class="badge btn btn-outline-light rounded position-absolute top-0 start-0 m-2 " data-action="click->toggle-family#toggle">Payment schedule</span>
    <%=  render 'chart', planned_data: @planned_data, actual_data: @actual_data, budget_data: @budget_data  %> 
  </div>
  




</div>
