
<%= simple_form_for invoice, html: { class: "contract form " } do |f| %>
  <% if invoice.errors.any? %>
    <div class="error-message">
      <%= invoice.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true ,class:"form1"} %>
  <%= f.input :description, input_html: { autofocus: true ,class:"form1"} %>
  <%= f.submit class: "btn1" %>
<% end %>