

    <tr class="p-auto">
      <th scope="row " style="background-color: #124020;vertical-align: middle;">
        <%= link_to invoice.name.upcase, invoice_path(invoice), class:" m-auto white p-auto " %>
        <% if !invoice.orders.select{ |o| o.is_root? }.all?{|o| o.calculate.is_a? Numeric } %> 
           <span class="red">⚠</span>     
        <% end %>  
      </th>

      <td style="background-color: #124020;vertical-align: middle;" class="text-center p-auto"><%= render "invoice_price", invoice:invoice %></td>
      <td style="background-color: #124020;vertical-align: middle;"><%= link_to invoice.description, invoice_path(invoice), class:" text-secondary p-auto" %></td>
      <td class=" text-center " style="background-color: #124020;vertical-align: middle;">
        <div class="white"><%= invoice.purchase_order.description if invoice.purchase_order %></div>
      </td>
      <td style="background-color: #124020;" class="col-m-auto ">
    
      </td>
      <td style="background-color: #124020;" class="text-center "><%= link_to "✏️",edit_invoice_path(invoice),class: "btn white m-auto " %></td>
      <td style="background-color: #124020;"><%= button_to "❌",invoice_path(invoice),method: :delete,class: "btn white m-auto" %></td>
    </tr>
