<ul>
   <% orders.each do |order, children| %>
      <li draggable="true" id= <%= order.id %> >
        <%= link_to_unless_current order.name, order_path(order),class: " #{ 'blue fw-light' if order.ancestry != nil } ", id:order.id %>
        <% if order.gross.is_a? Numeric %> 
          <span><%= link_to order.gross, order_path(order), class:" badge text-wrap green" %></span>
            <% if @invoice.taxes != []  %> 
              <span class = " ">
                <% @invoice.taxes .each do |tax| %>
                  <% if tax.orders.include?(order) %>
                    <span class= "btn2"><%= tax.name.upcase   %></span>
                  <% end %>
                <% end %>
              </span>
            <% end %>
        <% else %>
          <span class="text-danger fw-lighter fs-6 " > 𝘅  </span>
        <% end %>
      </li>
        <%= render 'sub_menu_orders', orders: children if children.present? %>
  <% end %>
</ul>