
<style> body { background-color: #124020; } </style>


<div class=" d-flex align-items-center blue p-3 ">
  <span class="m-auto fs-2 white ">INVOICES
    <%= link_to "✚",new_invoice_path,class: "btn1 rounded-circle", style:"vertical-align: middle;"  %> 
  </span>
</div>

<div class=" d-flex align-items-center justify-content-center blue p-3">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :name_or_contract_name_or_contract_supplier_name_cont %>
    <%= f.submit "🔎" %>
  <% end %>
</div>

<div class ="d-flex justify-content-center">
  <table class="table table-striped  table-hover border border-light">
    <thead>
      <tr class="text-center table-dark h6 border border-3 border-light">
        <th class="text-start fs-6 text-light" scope="col">INVOICE</th>
        <th scope="text-start fs-6 text-light"> PRICE </th>
        <th class="text-start fs-6 text-light"  scope="col">SERVICES</th>
        <th class="text-start fs-6 text-light" scope="col">SUPPLIER</th>
        <th class="text-start fs-6 text-light" scope="col">PO</th>
        <th class="text-start fs-6 text-light" scope="col"></th>
        <th class="text-start fs-6 text-light" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @invoices %>
    </tbody>
  </table>
</div>