<%= link_to sanitize("&larr; Back to Invoices"), invoices_path, class:"btn btn-outline-secondary" %>
<%= link_to sanitize("✚"), new_invoice_order_path(@invoice), class:"btn btn-outline-primary" %>


<h2 class = "d-flex justify-content-center" >INVOICE <%= @invoice.name %> </h2>


<!--   MENU 2   -->

<div class="m-3">
<% if @orders != nil %>
  <% @orders.each do |order| %>
      <li><%= link_to order.name, order_path(order), class:"big red " %></li>
      <%= render 'sub_menu_orders', orders: order.descendants.arrange %>
  <% end %>
<% end %>
</div>
