<style> body { background-color: #124020; } </style>

<%= link_to sanitize("&larr; Back to Invoices"), invoices_path, class:"btn1" %>
<%= link_to sanitize("✚ Contract Service"), new_invoice_order_path(@invoice), class:"btn1" %>
<%= link_to sanitize("✚ Other Service"), neworderadhoc_path(@invoice), class:'btn1' %>
<%= link_to sanitize("✚ Tax"), new_invoice_tax_path(@invoice), class:"btn1" %>
 <%= link_to invoice_excel_invoice_path(@invoice,format: :xlsx), class:"btn" do%>
        <%= image_tag 'excel.jpeg', width: 30, height: 30 %>
    <% end %>

<div class= "container d-flex m-auto justify-content-center m-3">
  <h2 class = "d-flex green me-3" >INVOICE <%= @invoice.name %> </h2>
  <h2 style="background-color: #124020;" class="text-center "><%= link_to "✏️",edit_invoice_path(@invoice),class: "btn white m-auto " %></h2>

</div>
<h6 class = "d-flex justify-content-center white m-3" ><%= @invoice.description %> </h6>
<% if @invoice.purchase_order %> 
  <div class = "d-flex justify-content-center white m-3" >
    <h6 class = " white btn btn-warning m-3 border " >PO <%= link_to @invoice.purchase_order.name, purchase_order_path(@invoice.purchase_order) %> </h6>
  </div>
<% end %>
<!--   MENU 2   -->
<div class=" d-flex align-items-center justify-content-center blue p-3 ">
  <table class="table table-success table-striped  table-hover border border-secondary border-5">
    <tbody>
      <% if @orders != nil %>
          <% @orders.each do |order| %>
            <tr>
              <th scope="row">
                <li class="blue" data-controller="toggle-family"><%= link_to order.name.upcase, order_path(order), class:" h4" %>
                  <% if  order.gross.is_a? Numeric %>
                    <span><%= link_to order.gross, order_path(order), class:"green" %></span>
                  <% else %>
                    ❌
                  <% end %>
                  <button class="btn" data-action="click->toggle-family#toggle">
                  ▽
                  </button>
                  <span data-toggle-family-target="family" ><%= render 'sub_menu_orders', orders: order.descendants.arrange  %></span>
                </li>
              </th>
            </tr>
          <% end %>
      <% end %>
    </tbody>
  </table>
</div>