<%= link_to sanitize("&larr; Back to Invoices"), invoices_path, class:"btn1" %>
<%= link_to sanitize("✚ Service"), new_invoice_order_path(@invoice), class:"btn1" %>
<%= link_to sanitize("✚ Tax"), new_invoice_tax_path(@invoice), class:"btn1" %>
 <%= link_to invoice_excel_invoice_path(@invoice,format: :xlsx), class:"btn" do%>
        <%= image_tag 'excel.jpeg', width: 30, height: 30 %>
    <% end %>

<div class= "container d-flex justify-content-center m-3">
  <h2 class = "d-flex justify-content-center green  me-3" >INVOICE <%= @invoice.name %> </h2>
  <% if @invoice.taxes != []  %> 
    <span class = " mh-3">
    <% @taxes.each do |tax| %>
      <%= link_to tax.name.upcase ,edit_tax_path(tax), class: "btn1" %>
    <% end %>
    </span>
  <% end %>
  </div>

<!--   MENU 2   -->

<table class="table table-success table-striped table-bordered table-hover">
  <tbody>
    <% if @orders != nil %>
        <% @orders.each do |order| %>
          <tr>
            <th scope="row">
              <li class="blue" data-controller="toggle-family"><%= link_to order.name.upcase, order_path(order), class:" h4" %>
                <% if  order.calculate.is_a? Numeric %>
                  <span><%= link_to order.invoice_price, order_path(order), class:"green" %></span>
                <% else %>
                  ❌
                <% end %>
                <button class="btn" data-action="click->toggle-family#toggle">
                ▽
                </button>
                <span data-toggle-family-target="family" ><%= render 'sub_menu_orders', orders: order.descendants.arrange  %></span>
              </li>
            </th>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
