<style> body { background-color: #124020; } </style>

<%= link_to sanitize("&larr; Back to Invoices"), invoices_path, class:"btn1" %>
<%= link_to sanitize("✚ Contract Service"), new_invoice_order_path(@invoice), class:"btn1" %>
<%= link_to sanitize("✚ Other Service"), neworderadhoc_path(@invoice), class:'btn1' %>
<%= link_to sanitize("✚ Tax"), new_invoice_tax_path(@invoice), class:"btn1" %>
 <%= link_to invoice_excel_invoice_path(@invoice,format: :xlsx), class:"btn" do%>
        <%= image_tag 'excel.jpeg', width: 30, height: 30 %>
    <% end %>


<div class= "container d-flex m-auto justify-content-center m-3">
  <h2 class = "d-flex text-light me-3" >INVOICE <%= @invoice.name %> </h2>
  <h2 style="background-color: #124020;" class="text-center "><%= link_to "✏️",edit_invoice_path(@invoice),class: "btn white m-auto " %></h2>
</div>

<div class= "container d-flex m-auto justify-content-center m-3 text-success"> <%= @invoice.invoice_price %> </div>
<%# <h6 class = "d-flex justify-content-center white m-3" ><%= @invoice.description  </h6> %>

<% if @invoice.purchase_order %> 
  <div class = "d-flex justify-content-center white m-3" >
    <h6 class = " white btn btn-warning m-3 border " >PO <%= link_to @invoice.purchase_order.name, purchase_order_path(@invoice.purchase_order) %> </h6>
  </div>
<% end %>
<!--   MENU 2   -->
<div class=" d-flex align-items-center justify-content-center blue p-3 ">
  <table class="table table-success  table-hover border border-secondary border-5" data-controller="dragparent" data-dragparent-type-value = "orders" >
    <thead>
      <tr class="text-center table-dark h6 border border-3 border-light">
        <th id="123" class="text-start fs-6 text-light" scope="col" draggable="true" >SERVICE</th>
        <th class="text-start fs-6 text-light" scope="col">PRICE</th>
        <th class="text-center fs-6 text-light"> COMMENT </th>
        <th class="text-center fs-6 text-light"> </th>

      </tr>
    </thead>
    <tbody>
      <% if @orders != nil %>
          <% @orders.each do |order| %>
            <tr>
              <td  >
                <li class="blue" data-controller="toggle-family" draggable='true'  id='<%=order.id%>' ><%= link_to order.name.upcase, order_path(order), class:"h4"%>
                  <button class="btn" data-action="click->toggle-family#toggle">
                  ▽
                  </button>
                  <span data-toggle-family-target="family" ><%= render 'sub_menu_orders', orders: order.descendants.arrange  %></span>
                </li>
              </td>
              <td class="text-center text-success fs-4" scope="row " style="background-color:#rgb(211, 248, 231);vertical-align: middle;"><%= render "orders/invoice_price", order:order %></td>
              <td class="text-center text-success fs-6" scope="row " style="background-color:#rgb(211, 248, 231);vertical-align: middle;"><%= order.comment %></td>
              <td class="text-center text-success fs-6" scope="row " style="background-color:#rgb(211, 248, 231);vertical-align: middle;"><%= link_to "✏️", edit_comment_order_path(order),data: { method: :post },  class: "btn btn-sm m-auto" %></td>
            </tr>
          <% end %>
      <% end %>
    </tbody>
  </table>
</div>