<%= turbo_frame_tag po_line do %>
    <div class="d-flex justify-content-between text-secondary">
        <span class="text-secondary p-1"><%= po_line.name.upcase %></span>
        <span class="p-1 "><%= po_line.value %></span>
        <div class="d-flex justify-content-end">
            <%# Update the edit and delete buttons with the new discreet class %>
            <%= link_to "✏️", edit_po_line_path(po_line), class: "btn btn-discreet" %>
            <%= button_to "❌", po_line_path(po_line), method: :delete, data: { confirm: "Are you sure you want to delete this PO line?" }, class: "btn btn-discreet" %>
        </div>
    </div>
<% end %>
