
<div class="container rounded-4 border border-5  bg-light m-3">
  <%= simple_form_for contract, html: { class: "contract form " } do |f| %>
    <% if contract.errors.any? %>
      <div class="error-message">
        <%= contract.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>

    <%= f.input :name, placeholder: "Name",input_html: { autofocus: true ,class:"form1"} %>
    <%= f.input :supplier_id, collection: Supplier.all ,input_html: { autofocus: true ,class:"form1"} %>
    <%= f.submit class: "btn1" %>
  <% end %>
</div>