<style> body { background-color: #0d2850; } </style>

<div class= "d-flex justify-content-center">
  <!-- <%= simple_form_for @contract, html: { class: "contract form white" } do |f| %>
    <% if @contract.errors.any? %>
      <div class="error-message">
        <%= @contract.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>

    <%= f.input :name, label:false, input_html: { autofocus: true, class:"form1" } %>
    <%= f.submit class: "btn1 m-auto" %>
  <% end %> %>
-->
    <%= render "form", contract: @contract %>


</div>