<style> body { background-color: #0d2850; } </style>

<div class=" d-flex align-items-center blue p-3 ">
  <span class="m-auto white fs-2 ">CONTRACTS
  <%= link_to "✚", new_contract_path, class: "btn1 rounded-circle", style:"vertical-align: middle;" %>
  </span>
</div>

<div class=" d-flex align-items-center justify-content-center blue p-3">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :name_or_supplier_name_cont %>
    <%= f.submit "🔎" %>
  <% end %>
</div>

<div class ="d-flex justify-content-center">
  <table class="table  table table-bordered table-hover border border-light border-2">
    <thead>
      <tr class="text-center table-dark h6 border border-3 border-light">
        <th class="fs-6 text-light" scope="col">SUPPLIER</th>
        <th scope="fs-6 text-light" scope="col">CONTRACT</th>
        <th class="fs-6 text-light"  scope="col"></th>
        <th class="fs-6 text-light" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% if @contracts != nil %>
        <%= render @contracts %>
      <% else %>
        NO CONTRACT HAS BEEN CREATED YET
      <% end %>
    </tbody>
  </table>
</div>
