
<style> body { background-color: #124020; } </style>

<div class="container rounded-4 border border-5 bg-dark"> 
  <div class="d-flex container justify-content-center text-light p-3">
    <h1>Choose the Service to be copied </h1>
  </div>
  <%= simple_form_for [@invoice, @order] do |f| %>
    <div class="d-flex container justify-content-center text-light p-3">
      <div class="d-flex container p-3 text-center blue">
          <%# <%= f.association :service, collection: @services.select{|s|  s.name != "Service not in Contract" if s.is_root?}, label: 'Service from Contract' , value_method: :id, include_blank: false,input_html: { autofocus: true ,class:" form1"} %> 
          <%# <%= f.input :service_id, collection: @selectors, label: 'Service', include_blank: false %> 
          <%# <%= f.button :submit, class:'btn' %> 
        <%= render "services_list",  services: @services.select { |s| s.name != "Service not in Contract" }  %>
        <%# <%= f.input :name %>
        <%# <%= f.input :description %> 
      </div>
        <%= f.submit 'Copy Service', class: 'btn btn-primary border border-3 rounded-4' %>
    </div>
  <% end %>
</div>
