

<style> body { background-color: #124020; } </style>

<div class="container rounded-4  bg-green">
    <%= simple_form_for @order, method: :post, url: createchildorder_order_path(@order.parent), html: { class: "service form p-auto" } do |f| %>
        <% if @order.errors.any? %>
            <div class="error-message">
            <%= @order.errors.full_messages.to_sentence.capitalize %>
            </div>
        <% end %>
            <div class="m-auto"><%= f.input :name, label: false, placeholder: "Name", input_html: { autofocus: true ,value: "",class:"form1 p-auto"} %></div>
            <div class="m-auto"><%= f.input :description,label: false, placeholder: "Description", input_html: { autofocus: true ,value: "",class:"form1 container p-auto"} %></div>
            <%= f.hidden_field :ancestry %>
            <%= f.hidden_field :invoice_id, input_html: {value: @order.invoice.id}  %>
            <div class="m-auto btn1"><%= f.submit class: "p-auto btn" %></div>
    <% end %>
</div>