
<%= link_to sanitize("&larr; Invoices"), invoices_path, class:"btn1" %>
<% if @order.is_root? == false  %> 
  <%= link_to sanitize("&larr; Back"), order_path( @order.parent) , class:"btn1"%>
<% else %>
  <%= link_to sanitize("&larr; Back"), invoice_path( @order.invoice) , class:"btn1"%>
<% end %>
<%= link_to "New cutom order",'#',class: "btn1" %>


<div class = "d-flex justify-content-center h3 " > <%=  link_to @order.invoice.name.upcase, invoice_path(@order.invoice) , class:"green"%></div>
<main class="container white">

    <!--   PATH    -->
                                

                              <span class="d-flex justify-content-start align-items-center m-3 bg-dark text-light p-2 rounded-pill">
                               
                                <% if @order.ancestors.map(&:name) != [] %> 
                                  <%  @order.ancestors.each do |s|%>
                                    <%= link_to s.name.upcase, order_path(s), class:"m-2 text-light"%>
                                    &nbsp<%="/"%>&nbsp
                                  <% end %>
                                <span class="text-success "> &nbsp;<%=@order.name.upcase %></span>
                                <%= link_to "✏️",edit_order_path(@order),class: "m-2" %>
                                <% else %>
                              <%= @order.name.upcase %> 
                              <%= link_to "✏️",edit_order_path(@order),class: "m-2" %>
                                <% end %>
                              </span>

    <!--   order FAMILY    -->
    <table class="table table-success table-striped table-hover  <%='d-none' if @order.has_children? == false %>">
      
      <thead>
        <tr class="text-center table h6 ">
          <th class="text-start fs-6" scope="col">SERVICE</th>
          <% @order.invoice.taxes.where(isfee:true).each do |tax| %>
            <th scope="col"> <%= tax.name.upcase %> </th>
          <% end %>
          <th class="" scope="col">BUDGET PRICE</th>
          <% @order.invoice.taxes.where(isfee:false).each do |tax| %>
            <th class=""  scope="col"> <%= tax.name.upcase %> </th>
          <% end %>
          <th class="text_center" scope="col">INVOICE PRICE</th>
        </tr>
      </thead>


      <tbody>
        <% @orders.each do |order| %>
          <tr class="text-center">
                 <td class="text-start h5" ><%= link_to order.name.upcase, order_path(order), class:"blue" %> </td>
            <%# FEES %>
                  <% order.invoice.taxes.where(isfee:true).each do |tax| %>
                    <% if order.calculate.is_a? Numeric %> 
                      <td><%= render "tax_order", order:order, tax:tax  %></td>
                    <% else %>
                      <td>❌</td>
                    <% end %>
                  <% end %>
            <%# BUDGET PRICE %>
                  <% if order.calculate.is_a? Numeric %> 
                    <td class="text-center"><%= render "budget_price", order:order %>
                  <% else %>
                    <td>❌</td>
                  <% end %>
            <%# TAXES %>
                  <% if order.calculate.is_a? Numeric %> 
                    <% @order.invoice.taxes.where(isfee:false).each do |tax| %>
                      <td><%= render "tax_order", order:order, tax:tax  %></td>
                    <% end %>
                  <% else %>
                    <td>❌</td>
                  <% end %>
            <%# INVOICE PRICE   %>
                  <% if order.calculate.is_a? Numeric %> 
                      <td><%= render "invoice_price", order:order %></td>
                  <% else %>
                    <td>❌</td>
                  <% end %>
</tr>
        <% end %>
                <tr class="table-dark ">
                    <td></td>
                  <% @order.invoice.taxes.where(isfee:true).each do |tax| %>
                    <td></td>
                  <% end %>
                    <td class="text-center blue fs-4"> <%= render "budget_prices", order:@order %> </td>
                  <% @order.invoice.taxes.where(isfee:false).each do |tax| %>
                    <td></td>
                  <% end %>
                    <td class="text-center text-success fs-4"><%= render "invoice_prices", order:@order %></td>
                </tr>
      </tbody>
      
    </table>


      
    <div class="container rounded-4 border border-5e border-dark  bg-dark <%='d-none' if @order.has_children?%>">


      <!--   order_variable LIST    -->
                              
                                <h2 class = "calculator_card "></h2>
                                <%= turbo_frame_tag "order_variable_list" do %>
                                  <% if  @order.order_variables.empty? %>
                                    <h4>NO FORMULA</h4>
                                  <% else %>
                                    <%= render "order_variables/order_variable_list", order: @order , class:"calculator-card p-3"%>
                                  <% end %>
                                <% end %>

        <!--   FORMULA ELEMENTS   -->
                    

                                <div class="d-flex bg-dark">

                                  <%# <h2>ADD OPERATOR</h2> %>
                                  <div class="operateur-add me-5 p-2">
                                    <%= render 'buttons/order_operators' %>
                                  </div>

                                  <%# <h2>ADD VARIABLE</h2> %>
                                  <div class="value-add p-2 bg-dark">
                                      <%= render 'buttons/add_order_value', order: @order,
                                      variable: OrderVariable.new( operator:false ,fixed: false,role: "value") %>
                                  </div>

                                    <%# RESULT %>
                                  <div class="ingredient-card">
                                      <%= render 'orders/resultat', order: @order   %>
                                  </div>

                                </div>

    </div>


            <%# DESCRIPTION %>
            <div class="d-flex justify-content-center m-2 text-dark">
              <% if @order.description != nil %>
                <%= @order.description %>
              <% end %>
            </div>

</main>
