<div class="container rounded-4 border  bg-dark border-5  bg-light">
  <%= simple_form_for [@invoice, @tax] do |f|%>
    <h5 class="d-flex m-auto ">
    <%= f.input :isfee, 
            as: :select, 
            collection: [['FEE',true],['TAX',false]], 
            include_blank: false, 
            label: false,
            input_html: { autofocus: true ,class:" form1"}
    %>
    </h5>
    <div class="d-flex container justify-content-center text-light p-3 ">
        <div class="d-flex container p-3 text-center blue">
          <%= f.input :name ,label: false, placeholder: "Name",  input_html: { autofocus: true ,class:"form1"}%>
          <%= f.input :percentage,label: false, placeholder: "Value in %", input_html: { autofocus: true ,class:"form1"} %>
        </div>
    
    <div class= "btn1 m-auto"><%= f.button :submit , class: "m-auto"%></div>
  </div>
  <% end %>
</div>