
<div class="ingredient-card">
  <p>
  <%= simple_form_for variable, html: { class: " " } do |f| %>
    <% if variable.errors.any? %>
      <div class="error-message">
        <%= variable.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>

    <div><%= f.input :name,label: false,  input_html: { autofocus: true ,class:"form1"} %> </div>
    <div><%= f.input :value,label: false, input_html: { autofocus: true ,class:"form1"} %>   </div> 
    <div><%= f.submit class: "btn1" %> </div>
  <% end %>
  </p>
</div>