<%= simple_form_for @variable, html: { class: "" } do |f| %>
  <% if @variable.errors.any? %>
    <div class="error-message">
      <%= @variable.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true, class:"form1" } %>
  <%= f.input :value, input_html: { autofocus: true, class:"form1" } %>

  <%= f.submit class: "btn1" %>
<% end %>